build
patch.diff
*.log
__pycache__
_work/
test_projects/

# Distribution/packaging
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
*.egg

# Editors
.vscode
.zed
.vs
.idea
