name: Integration Testing

on:
  workflow_dispatch:
    inputs:
      pr_link:
        description: 'PR URL (e.g. https://github.com/llvm/llvm-project/pull/12345)'
        required: true
      check_name:
        description: 'Clang-tidy check name'
        required: true
      extra_config:
        description: 'Check options (e.g. VariableCase: camelBack)'
        required: false
  issues:
    types: labeled

permissions: {}

jobs:
  determine-runner:
    if: github.event_name == 'workflow_dispatch' || github.event.label.name == 'cpp' || github.event.label.name == 'c'
    runs-on: ubuntu-latest
    timeout-minutes: 1
    outputs:
      runner: ${{ steps.set-runner.outputs.use-runner }}
    steps:
      - name: Determine runner
        id: set-runner
        uses: mikehardy/runner-fallback-action@dc7732f9e532c451b2527b288ba8d58fd4b0a4ca # v1.1.0
        with:
          primary-runner: "self-hosted"
          fallback-runner: "ubuntu-latest"
          github-token: ${{ secrets.RUNNER_ACCESS_TOKEN }}

  build:
    needs: determine-runner
    runs-on: ${{ fromJson(needs.determine-runner.outputs.runner) }}
    container: 
      image: ghcr.io/clang-tidy-infra/ctit-runner:sha-a04f8ef
      options: --user root
    timeout-minutes: 360

    permissions:
      issues: write
      contents: write
      packages: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
          fetch-depth: 1
          persist-credentials: false

      - name: Set up Git
        run: |
          git config --global --add safe.directory '*'
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git -C llvm-project checkout .
          git -C llvm-project clean -fdx

      - name: Parse Inputs
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            {
              echo "${{ github.event.inputs.pr_link }} ${{ github.event.inputs.check_name }}"
              echo "${{ github.event.inputs.extra_config }}"
            } | python3 parse_issue.py $GITHUB_ENV
          else
            echo "${{ github.event.issue.body }}" | python3 parse_issue.py $GITHUB_ENV
          fi

          echo "PR_LINK: $PR_LINK"
          echo "CHECK_NAME: $CHECK_NAME"
          echo "TIDY_CONFIG: $TIDY_CONFIG"

      - name: Set up patch
        run: bash apply_patch.sh
        env:
          GITHUB_PATCH_ID: ${{ env.PR_LINK }}

      - name: Build Clang-tidy
        run: bash build.sh

      - name: Run Check on cppcheck
        run: bash testers/cppcheck.sh "${{ env.CHECK_NAME }}"
        env:
          CHECK_NAME: ${{ env.CHECK_NAME }}

      - name: Run Check on LLVM
        run: bash testers/llvm.sh "${{ env.CHECK_NAME }}"
        env:
          CHECK_NAME: ${{ env.CHECK_NAME }}

      - name: Generate Report
        run: |
          python3 testers/generate_report.py

      - name: Artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        id: artifact
        with:
          name: ctit-logs
          path: |
            logs/
            issue.md

      - name: Report
        if: github.event_name != 'workflow_dispatch'
        uses: thollander/actions-comment-pull-request@fabd468d3a1a0b97feee5f6b9e499eab0dd903f6 # v2.5.0
        with:
          filePath: issue.md
