name: Code formatter

on:
  push:
    branches:
      - main
    paths:
      - '**/*.py'
      - '.github/workflows/*.yaml'
  pull_request:
    branches:
      - main
    paths:
      - '**/*.py'
      - '.github/workflows/*.yaml'

permissions:
  contents: read

jobs:
  python-black-formatter:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    name: python-formatter
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: psf/black@6305bf1ae645ab7541be4f5028a86239316178eb # 26.1.0
