name: Code lint

on:
  push:
    branches:
      - main
    paths:
      - '**/*.py'
      - 'pyproject.toml'
      - '.github/workflows/*.yaml'
  pull_request:
    branches:
      - main
    paths:
      - '**/*.py'
      - 'pyproject.toml'
      - '.github/workflows/*.yaml'

permissions:
  contents: read

jobs:
  ruff:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: astral-sh/ruff-action@4919ec5cf1f49eff0871dbcea0da843445b837e6 # v3.6.1

  mypy:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.13'
      - run: pip install mypy
      - run: mypy .
