name: Yaml lint

on:
  push:
    branches:
      - main
    paths:
      - '**/*.yaml'
      - '**/*.yml'
  pull_request:
    branches:
      - main
    paths:
      - '**/*.yaml'
      - '**/*.yml'

permissions:
  contents: read

jobs:
  yaml-lint:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    name: yaml-lint
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c # v3.1.1
        with:
          config_file: .yamllint.yaml
